<h1>
    Evoluciones de la Historia {{ historia.id }}
</h1>

<p>
    Paciente:
    {{ historia.paciente.nombre }}
    {{ historia.paciente.apellido }}
</p>

<hr>

<ul>

    {% for evolucion in evoluciones %}

        <li>

            {{ evolucion.fecha }}

            -

            {{ evolucion.diagnostico }}

            <a href="/evoluciones/editar/{{ evolucion.id }}/">
             Editar
            </a>

            <a href="/evoluciones/eliminar/{{ evolucion.id }}/">
             Eliminar
            </a>

        </li>

    {% empty %}

        <li>
            No existen evoluciones registradas.
        </li>

    {% endfor %}

</ul>